@import 'snippet.css';

:root{
    --dark-theme-background: black;
    --dark-theme-color: white;
}

*{
    color: var(--dark-theme-text-color);
}

h1{
    background: var(--dark-theme-background);
    color: var(--dark-theme-color);
}

p{
    background: var(--dark-theme-background);
    color: var(--dark-theme-color);
}