<!DOCTYPE html>
<html>
	<head>
		<title>CS590 Lectures</title>	
	</head>

	<body>
		<h1>CS590 Web Development</h1>
		<hr>
		
		<ul id="nav">
			<li><a href="lectures_without_CSS.html">Lecture</a></li><br/>
			<li><a href="homework.html">Homework</a></li><br/>
		</ul>
		
		<ul id="maincontent">
			<li>Lecture 4
				<ul>			
					<li>Slides: <a href="">CSS</a></li>
					<li>Homework: <a href="">Homework 4</a></li>
				</ul>
			</li><br/>
		
			<li>Lecture 3
				<ul>			
					<li>Slides: <a href="">HTML</a></li>
					<li>Homework: <a href="">Homework 3</a></li>
				</ul>
			</li><br/>
			
			<li>Lecture 2
				<ul>			
					<li>Slides: <a href="">Git</a></li>
					<li>Homework: <a href="">Homework 2</a></li>
				</ul>
			</li><br/>
			
			<li>Lecture 1
				<ul>
					<li>Slides: <a href="">Introduction to Course</a></li>
					<li>Homework: <a href="">Homework 1</a></li>				
				</ul>
			</li><br/>	
		</ul>
	</body>
</html>