body {
    background-color: rgb(33, 42, 42);
    color:aliceblue;
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}

.list {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 20px;
    transform-style: preserve-3d;
    transform: perspective(2000px);
}

.list .item {
    transition: .5s filter, .5s transform;
    filter: brightness(.1);
}

.list .item:hover {
    filter: brightness(1);
    transform: translateZ(100px);
}

/* Select elements to the right */
.list .item:hover + * {
    filter: brightness(0.6);
    transform: translateZ(100px) rotateY(20deg);
}

.list .item:hover + * + *{
    filter: brightness(0.4);
    transform: translateZ(50px) rotateY(10deg);
}

.list .item:hover + * + * + *{
    filter: brightness(0.2);
    transform: translateZ(20px) rotateY(5deg);
}

/* Select elements to the left */
.list .item:has(+ *:hover) {
    filter: brightness(0.6);
    transform: translateZ(100px) rotateY(-20deg);
}

.list .item:has(+ * + *:hover) {
    filter: brightness(0.4);
    transform: translateZ(50px) rotateY(-10deg);
}

.list .item:has(+ * + * + *:hover) {
    filter: brightness(0.2);
    transform: translateZ(20px) rotateY(-5deg);
}