<!DOCTYPE html>
<!-- This example is from "HTML & CSS: design and build websites" by Jon Duckett -->

<html>
	<head>
		<title>Grid Layout</title>
		<link rel="stylesheet" type="text/css" href="css/grid.css" />
	</head>

	<body>
		<div class="feature_grid">
			<header id="header">
				<h1>Logo</h1>

				<div id="nav">
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">Products</a></li>
						<li><a href="">Services</a></li>
						<li><a href="">About</a></li>
						<li><a href="">Contact</a></li>
					</ul>
				</div>
			</header>
			
			<div id="feature" class="feature">
				<p>Features</p>
			</div>
			<div class="col1 tall">
				<p>Feature One</p>
			</div>
			<div class="col2 tall">
				<p>Feature Two</p>
			</div>
			<div class="col3 tall">
				<p>Feature Three</p>
			</div>
			<footer>
				<p>&copy; Copyright 2011</p>
			</footer>
		</div>
	</body>
</html>